.home__container {
    background-image: url('https://media.wired.com/photos/5a39add3e1d4a86600d1ee8f/master/pass/falcon-FA.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
